*{
    margin: 0;
    box-sizing: border-box;
}

/*Generics*/

ul{
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: white;
}

/*Header*/

header{
    background-color: #3161E0;
}

.container-head{
    display: flex;
    width: 80%;
    margin: 0 auto;
    padding: 10px 0;
}

.container-head > div{
    padding: 5px;
    min-width: 25%  ;
}

.nav-bar{
    flex-grow: 1;
    text-align: center;
}

.container-head :last-child{
    text-align: end;
}

.login{
    background-color: white;
    border: none;
    border-radius: 20px;
    padding: 10px;
}

/*Jumbodron*/

.first-container{
    width: 60%;
    margin: 0 auto;
    padding: 20px 0;
}

.jumbodron{
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.first-container > div{
    width: 100%;
    height: 400px;
    color: white;
    text-align: center;
    padding: 30px;
}

.title{
    font-size: 3rem;
    padding: 20px 0;
}

.main-p{
    padding: 20px;
    font-size: 1.2rem;
}

.color{
    border: none;
    border-radius: 20px;
    padding: 10px 15px;
    margin: 10px;
    font-size: 1.1rem;
}

.color.black{
    background-color: #23272A;
    color: white;
}

/*First Container*/

.container{
    display: flex;
    width: 80%;
    margin: 0 auto;
    padding: 20px 0;
}

.container > div{
    min-width: 40%;
    height: 500px;
    border: 1px dashed black;
}

.container :first-child{
    flex-grow: 1;
}

.container.rev{
    flex-direction: row-reverse;
}

.back-grey{
    background-color: #D3D3D3;
}

.last-container{
    width: 80%;
    margin: 0 auto;
    padding: 20px 0;
}

.last-container > div{
    width: 100%;
    height: 600px;
    border: 1px dashed black;
    background-color: #228B22;
}

.back-black{
    padding: 5px 0 20px;
    background-color: #23272A;
}

.container-foot{
    display: flex;
    width: 80%;
    margin: 0 auto;
    border: 1px dashed black;
}

.container-foot > div{
    flex-grow: 1;
    height: 500px;
    border: 1px dashed white;
    background-color: #20B2AA;
}

.container-foot :first-child{
    min-width: calc(100% / 3);
    background-color: #F08080;
    border: 1px dashed black;  
}

section > nav{
    display: flex;
    width: 80%;
    margin: auto;
    padding: 20px 0;
    justify-content: space-between;
    background-color: #7FFFD4;
}

nav > div{
    padding: 5px;
    background-color: #FFB6C1;
    border: 1px dashed black;
}

footer > section{
    background-color: #23272A;
    padding: 20px 0 0;
}